<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <h2>Crime List</h2>
        <%
        if (crimes.length > 0) {
            crimes.forEach(crime=>{
                %>
                <div class="crime">
                <a class="single-crime" href="/crimes/<%= crime._id %>">
                    <h4><%=crime.title%></h4>
                    <p><%=crime.location%> | <%=crime.dateandtime%> </p>
                </a>
                </div>
                <hr>
                <%
                    })} else {
                %>
                <p>There are no crimes here :( </p>
                <% } %> 
    </main>
    <%- include('./partials/footer.ejs') %>

</body>
</html>